<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cyber Arena</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cyber Arena", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Players", "Index", "Players")</li>
                        <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->

    <div>
        <div>
            <ul>
                <li>
                    @Html.ActionLink("Cyber Arena", "", "")
                </li>
                <li>
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "hoverable" })
                </li>
                <li>
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "hoverable" })
                </li>
                <li>
                    @Html.ActionLink("Players", "Index", "Players", new { area = "" }, new { @class = "hoverable" })
                </li>
                <li>
                    @Html.ActionLink("Teams", "Index", "Teams", new { area = "" }, new { @class = "hoverable" })
                </li>
            </ul>
        </div>

        <div>
            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Cyber Arena</p>
                </footer>
            </div>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
